[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=StrasPark
Exec=StrasPark
Name=StrasPark
# translation example:
# your app name in German locale (de)
Name[de]=StrasPark

